.card {
    color: var(--primary);
    padding:2rem 0.7rem;
    background-color: var(--background);
    box-shadow: 0 0 15px #1e2235;
    transition: all 1s linear;
}


.card h3{
    font-family: poppin_SB;
    color: var(--primary)
}

.card > p {
    margin-block: 2rem;
    font-family: poppin_L;
    font-size: 0.8rem;
    color: var(--primary);
}


.card:hover {
    transform: translate(0 ,-5%);
    box-shadow: 0 0 10px var(--secondary);
}