
.projects {
    text-align: center;
    padding: 0 5%;
    margin: 0 auto;
}

.projects h2 {
    color: #cdcdff;
    font-family: poppin_B;

}
.projects > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(100px,30%, 400px));
    text-align: center;
    margin-block: 2rem;
    justify-content: space-evenly;
    gap: 1.5rem;
}