
.skills {
    text-align: center;
    padding-top: 3rem;

}

.skills h2{
    color: var(--primary);
    font-family: poppin_B;
}

.skills > div {
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
    padding: 3% 5%;
    flex-wrap: wrap;
    width: clamp(35vw, 80%, 35vw);
    margin: 0 auto;
}