
.teckStack {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.teckStack p {
    font-family: poppin_M;
    font-size: 0.8rem;
}